﻿@{
    ViewData["Title"] = "About";
}
<br>
<br>
<br>
<h2>@ViewData["Title"]</h2>

<!doctype html>

<html>
    <head>
        <title><em>Juan Guillermo Sandoval Lacayo</em></title>
        <link rel= "stylesheet" href="css/site.css">    
    </head>

    

    
    <body>
        <div class="descripcion">
        <h1 align= "left">Studies</h1>
        <hr>
        <ul>
        <h4><li> 2000/2011 Suizo Americano</li></h4>
        <h4><li> 2012 Gibbs School</li></h4>
        <h4><li> 2013/2016 Liceo Guatemala</li></h4>
        <h4><li> 2017/date UVG</li></h4>
        </ul>

        <br>

        <h1 align = "left">Hobbies</h1>
        <ul>
            <h4><li> Play Videogames</li></h4>
            <h4><li> Speedrun old games</li></h4>
            <h4><li> Swim</li></h4>
            <h4><li> Build Lego's</li></h4>
            <h4><li> Read</li></h4>
            <h4><li> Play instruments</li></h4>
        </ul>

        <br>

        <h1 align = "left">Skills</h1>
        <ul>
            <h4><li> Programming</li></h4>
            <h4><li> RMG Manipulation</li></h4>
            <h4><li> Leadership (Dale Carneggie Training 2016)</li></h4>
            <h4><li> Twitch Streamer</li></h4>
            <h4><li> Java</li></h4>
            <h4><li> Python</li></h4>
            <h4><li> HTML (In progress)</li></h4>
        </ul>

        <br>

        <p> <h5>I consider myself as a person that always look for positivism, although is hard sometimes. I am usually easygoing and I can tell
            <br>
            it's been really helpfull on my work.</h5>
            <h5>I think that my skills over building and problem solving are really strong due to many things I have done through my life.
            <br>
            Videogames help me to do a lot of problem solving, which is really awesome when I look back to when it started to where I get right now,
            <br>
            actually right now I am also a twitch Streamer in a project named Geektenango you can also visit on facebook.
            </h5>
        </p>
        <br>
        <h3>Check my streams down bellow by clicking on the image</h3>
        <br>
        <br>
        <address>
            <picture>
        <a href https://www.facebook.com/geektenango/><img title="Twitch Project" src = "/images/Stream_Web_Bar_UP.png" width="300"> </a>
        </picture>
        </address>
        </div>
    </body>

</html>