﻿@{
    ViewData["Title"] = "Contact";
}
<br>
<br>
<h2>@ViewData["Title"]</h2>
<h3>You can contact me in many more ways:</h3>
<div class= "descripcion">
<address>
    <abbr title="Phone">Phone Number:</abbr>
    +502 4040-0100
    <h5>Scan the QR code for direct message</h5>
    <br>
    <picture>
    <strong><p><img title = "QR Code" src = "/images/Codigo QR.png" width = "20%" ></p></strong>
   </picture>
    <br>
    <strong>Email:</strong> <a href="guillelisto@gmail.com">guillelisto@gmail.com</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/guillermo.sandoval.161214"> <img title = "Guillermo Sandoval" src="C:\Users\Guillermo Sandoval\Desktop\Primer Semestre\PPM\lab1\Views\Home\FB.png" height = "50"> </a>
</address>

<br>
<br>
<h2>For more ways to contact me send me a e-mail:</h2>
<body>
    <form method = "post" action = "simpleform.asp">
        Name: <input type = "text" name = "name"> <br>
        <br>
        E-mail: <input type = "text" name = "mail"> <br>
        <br>
        Message: <input type = "text" name = "message"> <br>
        <br>
        <input type= "submit" value = "Submit">
    </form>
</div>
</body>
