<!doctype html>

<html>
    <head>
        <title><em>Juan Guillermo Sandoval Lacayo</em></title>
        <link rel= "stylesheet" href="css/site.css">    
    </head>

    <div></div>
    <div></div>
    <body bgcolor = "0e5135">
        <h1 align= "left">Studies</h1>
        <hr>
        <ul>
        <li> 2000/2011 Suizo Americano</li>
        <li> 2012 Gibbs School</li>
        <li> 2013/2016 Liceo Guatemala</li>
        </ul>

    </body>


</html>