﻿@{
    ViewData["Title"] = "Home Page";
}    
<br>
<br>
<br>
<br>
<div class = "container">
    <picture>
<img title = "Juan Guillermo Sandoval" width="50%" height="50%" src = "C:\Users\Guillermo Sandoval\Desktop\Primer Semestre\PPM\lab1\Views\Shared\images\FotoPersonal.jpg">
    </picture>
</div>
<br>
<br>
<br>
<style>
    .tit{
        font-family: Times New Roman;
    }

    </style>
<div class = "tit">
    <h3 align= "center" ><font color = "#4aba91"><font-family = "Times New Roman">Learn more about me in diferent ways: </font></font> </h3>
</div>

<br>
<div class="row">
    <style>
    [class* = "col-"]{
        float: left;
        margin: 10%;
        padding: 10%;
    }
    .col-1{
        width: 40%;
    }    
    </style>
    <div class = "descripcion">
    <div class="col-md-3">
        <h2 class = "tit">Studies</h2>
        <ul>
            <li><h4>Suizo Americano</h4></li>
            <li><h4>Gibbs</h4></li>
            <li><h4>Liceo Guatemala</h4></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2 align = "left" class = "tit">Hobbies</h2>
        <ul>
            <li><h4>Swimming</h4></li>
            <li><h4>Building Lego's</h4></li>
            <li><h4>Speedrunning</h4></li>
            <li><h4>And more</h4></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2 align = "left" class = "tit">Skills</h2>
        <ul>
            <li><h4>Programming</h4></li>
            <li><h4>Leadership (Dale Carneggie Trainning)</h4></li>
            <li><h4>RMG manipulation</h4></li>
            <li><h4>And more</h4></li>
        </ul>
    </div>
    </div>
</div>
