﻿body {
    background: url()
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar{
    background-color: black; opacity: 0.9;

}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
/* This should show my phone number*/
#qrCode {
    margin: 15px;
}
div .lista li{
    
    display: inline;
    display: inline-block;
    list-style: none;

}
/* For desktop: */
.col-med-3 {width: 30%;}

@media screen and (min-width: 768px) {
    /* Hide captions */
        [class*="col-"]{
            width:90%;
        }
        body{
            background: url(http://www.hdfondos.eu/pictures/2014/0616/1/triforce-the-legend-of-zelda-wallpaper-448403.jpg);
            width: 85%;
        }  
        .descripcion{
            color: ghostwhite;
        }
}

/* Hide/rearrange for smaller screens */
/* Change for phones*/
@media screen and (max-width: 767px) {
    /* Hide captions */
        [class*="col-"]{
            width:90%;
        }
        body{
            background: url(http://sf.co.ua/13/05/wallpaper-2779447.jpg);
            width: 85%;
        }  
        .descripcion{
            color: ghostwhite;
        }
}
@media screen and (max-width: 450px) and (min-width: 100px) {
    /* Hide captions */
        [class*="col-"]{
            width:100%;
        }
        body{
            background: url(http://www.hdfondos.eu/pictures/2014/0806/1/video-games-triforce-the-legend-of-zelda-master-sword-wallpaper-458961.jpg);
            width: 100%;
        }
        .descripcion{
            color: ghostwhite;
        }
}

.well {
    background-image: -webkit-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
    background-image:      -o-linear-gradient(top, #e8e8e8 0%, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#f5f5f5));
    background-image:         linear-gradient(to bottom, #e8e8e8 0%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
    background-repeat: no-repeat;
    border-color: #dcdcdc;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
  }
